[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "criticalpath"]
	path = criticalpath
	url = https://github.com/rubens2005/criticalpath
